{% extends "application.html" %}

{% block pageTitle %}
  Quick view results: {{ super() }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: 'Return to annual contract value',
    href: backLink
  }) }}

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) if errorList.length > 0 }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Results</h1>
      <p class="govuk-body-l">
        Based on information provided, this procurement is eligible for the following sub-lot:
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Selection summary
      </h2>
      <div class="ccs-summary-box">
        <div class="ccs-summary-box__headings">
          <span class="ccs-summary-box__title">
            Services
          </span>
          <span class="ccs-summary-box__change">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ summaries.services.changeLink }}">
              Change
            </a>
          </span>
        </div>
        <div class="ccs-summary-box__content">
          {{ govukDetails({
            summaryText: summaries.services.numberSelected + " selected",
            html: summaries.services.summaryContent
          }) }}
        </div>
      </div>
      <div class="ccs-summary-box">
        <div class="ccs-summary-box__headings">
          <span class="ccs-summary-box__title">
            Regions
          </span>
          <span class="ccs-summary-box__change">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ summaries.regions.changeLink }}">
              Change
            </a>
          </span>
        </div>
        <div class="ccs-summary-box__content">
          {{ govukDetails({
            summaryText: summaries.regions.numberSelected + " selected",
            html: summaries.regions.summaryContent
          }) }}
        </div>
      </div>
      <div class="ccs-summary-box">
        <div class="ccs-summary-box__headings">
          <div class="ccs-summary-box__title">
            Estimated contract value
          </div>
          <div class="ccs-summary-box__change">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ summaries.estimatedAnnualCost.changeLink }}">
              Change
            </a>
          </div>
        </div>
        <div class="ccs-summary-box__content">
          {{ summaries.estimatedAnnualCost.value }}
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Sub-lot {{ lotNumber }}
      </h2>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
        {{ selectedSuppliersNames.length }} supplier(s) shortlisted
      </h3>
      <p class="govuk-body govuk-!-font-weight-bold">
        who can provide the services you require in your location(s)
      </p>
      <ul class="govuk-list">
        {% for supplierName in selectedSuppliersNames %}
          <li class="govuk-!-width-one-half">
            {{ supplierName }}
            {% if not loop.last  %}
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-top-0"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Phasellus at eros sem. Quisque ac ante in est dignissim feugiat. Etiam dignissim nibh tincidunt, euismod sem in, efficitur lorem. Morbi eu justo quis metus pellentesque ornare vitae quis urna. Proin malesuada risus id dolor vehicula, sit.
      </p>
      <form action="/facilities-management/RM6232/procurements/new" method="post" class="form" novalidate>
        {% for serviceCode in procurement.data.serviceCodes %}
          <input type="hidden" name="procurement[serviceCodes][]" value="{{ serviceCode }}" />
        {% endfor %}
  
        {% for regionCode in procurement.data.regionCodes %}
          <input type="hidden" name="procurement[regionCodes][]" value="{{ regionCode }}" />
        {% endfor %}
  
        <input type="hidden" name="procurement[estimatedAnnualCost]" value="{{ procurement.data.estimatedAnnualCost }}" />
  
        {{ govukInput({
          label: {
            text: "Save your search",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter a name or reference to save this search."
          },
          id: "contractName",
          name: "procurement[contractName]",
          classes: "govuk-input--width-20",
          value: procurement.data.contractName,
          errorMessage: {
            text: errors.contractName.errorMessage
          } if errors.contractName !== undefined
        }) }}

        {{ govukButton({
          element: "input",
          text: "Save and continue",
          name: "afterSave",
          classes: "govuk-!-margin-right-4"
        }) }}
        {{ govukButton({
          element: "input",
          text: "Save and return to procurements dashboard",
          name: "afterSave",
          classes: "govuk-button--secondary"
        }) }}
        <br/>
        <a href="/facilities-management/RM6232" class="govuk-body govuk-link--no-visited-state">
          Return to your account
        </a>
      </form>
    </div>
  </div>

{% endblock %}