{% extends "application.html" %}

{% block pageTitle %}
  Quick view results: {{ super() }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: 'Return to annual contract value',
    href: backLink
  }) }}

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) if errorList.length > 0 }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Quick view results</h1>
      <h2 class="govuk-heading govuk-heading-l govuk-!-width-two-thirds">Based on information provided, this procurement is eligible for the following sub-lot:</h2>
      <h2 class="govuk-heading govuk-heading-l" id="contract-sub-lot">Sub-lot {{ lotNumber }} </h2>

      <h3 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-0">{{ selectedSuppliersNames.length }} supplier(s) shortlisted</h3>
      <h3 class="govuk-heading govuk-heading-s govuk-!-margin-top-0">who can provide the services you require in your location(s)</h3>
      <ul class="govuk-list">
        {% for supplierName in selectedSuppliersNames %}
          <li class="govuk-!-width-one-third">
            {{ supplierName }}
            {% if not loop.last  %}
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds govuk-!-margin-top-0"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading govuk-heading-m">Selection summary</h3>
      <div class="govuk-!-margin-bottom-4">
        {{ govukDetails({
          summaryText: summaries.services.title,
          html: summaries.services.summaryContent
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ govukDetails({
          summaryText: summaries.regions.title,
          html: summaries.regions.summaryContent
        }) }}
      </div>
      <div class="govuk-body govuk-!-margin-bottom-4">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
          Estimated annual contract value:
        </p>
        <p>
          {{ summaries.estimatedAnnualCost.value }}
          (<a href="{{ summaries.estimatedAnnualCost.changeLink }}" class="govuk-link--no-visited-state">change</a>)
        </p>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/facilities-management/RM6232/procurements/new" method="post" class="form" novalidate>
        {% for serviceCode in procurement.data.serviceCodes %}
          <input type="hidden" name="procurement[serviceCodes][]" value="{{ serviceCode }}" />
        {% endfor %}
  
        {% for regionCode in procurement.data.regionCodes %}
          <input type="hidden" name="procurement[regionCodes][]" value="{{ regionCode }}" />
        {% endfor %}
  
        <input type="hidden" name="procurement[estimatedAnnualCost]" value="{{ procurement.data.estimatedAnnualCost }}" />
  
        {{ govukInput({
          label: {
            text: "Save your search",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter a name or reference to save this search."
          },
          id: "contractName",
          name: "procurement[contractName]",
          classes: "govuk-input--width-20",
          value: procurement.data.contractName,
          errorMessage: {
            text: errors.contractName.errorMessage
          } if errors.contractName !== undefined
        }) }}

        {{ govukButton({
          element: "input",
          text: "Save and continue to procurement",
          name: "afterSave",
          classes: "govuk-!-margin-right-4"
        }) }}
        {{ govukButton({
          element: "input",
          text: "Save and return to procurements dashboard",
          name: "afterSave",
          classes: "govuk-button--secondary"
        }) }}
        <br/>
        <a href="/facilities-management/RM6232" class="govuk-body govuk-link--no-visited-state">
          Return to your account
        </a>
      </form>
    </div>
  </div>

{% endblock %}