// File for any extra CSS styles

.fm-buyer-account-panel {
  border: 1px #DEE0E2 solid;
  padding: 10px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.ccs-info-panel {
  background-color: #f8f8f8;
  padding: govuk-spacing(3);
  margin: 0 0 govuk-spacing(7) 0;
}
