// File for any extra CSS styles

.fm-buyer-account-panel__container {
  @include govuk-media-query ($from: tablet) {
    display: flex;
  }
}

.fm-buyer-account-panel {
  border: 1px #DEE0E2 solid;
  padding: 10px;
  background: #F8F8F8;
  margin-bottom: 30px;

  @include govuk-media-query ($from: tablet) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.ccs-info-panel {
  background-color: #f8f8f8;
  padding: govuk-spacing(3);
  margin: 0 0 govuk-spacing(7) 0;
}

$ccs-button-green: #007E8A;

.govuk-button:not(.govuk-button--secondary):not(.govuk-button--warning) {
  background-color: $ccs-button-green;

  &:hover {
    background-color: darken($ccs-button-green, 5%);
  }
}

.ccs-file-download {
  display: inline-block;
  position: relative;
  min-height: 33px;
  min-width: 50px;
  padding-left: 70px;
}

.ccs-file-download:before {
  position: absolute;
  left: 0px;
  top: -6px;
  display: inline-block;
  width: auto;
  height: auto;
  background: #777777 url('../images/corner-curl.png') 100% -1px no-repeat;
  color: #FFF;
  background-size: 9px;
  font-size: 13px;
  text-align: center;
  line-height: 2.45;
  text-transform: uppercase;
  font-weight: 600;
  content: "";
  padding-left: 5px;
  padding-right: 5px;
}

.ccs-file-download__xlsx:before {
  background-color: #007831;
  content: ".XLSX";
}

.ccs-file-download__doc:before {
  background-color: #0d0da0;
  content: ".DOC";
}
