{% extends "application.html" %}

{% block pageTitle %}
  Regions: {{ super() }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: 'Return to your regions',
    href: '/facilities-management/RM6232/quick-view/choose-regions'
  }) }}

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) if errorList.length > 0 }}


  <div class="procurement">
    <div class="regions chooser-component">
      <div id="ccs-accordion-with-basket" class="govuk-grid-row">
        <form action="/facilities-management/RM6232/quick-view/choose-regions" method="post" class="form">
          <div class="govuk-grid-column-two-thirds">
            {% call govukFieldset({
              legend: {
                text: "Regions",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}
              <div>
                <h2 class="govuk-heading-m">
                  Where are your buildings located?
                </h2>
                <p class="govuk-caption-m">
                  Choose one or more regions, based on building’s location where you require facilities management services.
                </p>
              </div>
              <div class="chooser-input">
                {{ govukAccordion(
                  {
                    id: 'choose-regions-accordion',
                    items: accordionItems
                  }
                )}}
              </div>
            {% endcall %}
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
            <div class="basket">
              <div>
                <h3 class="govuk-heading-m" data-txt01="regions selected" data-txt02="No regions selected" data-txt03="region selected">
                  <span id="selected-regions-count">0</span> <span>regions selected</span></h3>
                <a class="govuk-!-padding-left-2 remove-link" role="button" href="#" aria-label="Remove all">Remove all</a><br/>
                <ul style="margin-top:10px;" class="govuk-list"></ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}