{% extends "application.html" %}

{% block pageTitle %}
  Buyer account dashboard: {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
          Your account
        </span>
        <h1 class="govuk-heading-xl">
          {{ data["user"]["email"] }}
        </h1>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
        <div class="fm-buyer-account-panel">
          <p>
            <a href="/facilities-management/RM6232/quick-view/choose-services" class="ccs-font-weight-semi-bold fm-buyer-account-panel__title_no_link govuk-link--no-visited-state">
              Quick view suppliers
            </a>
          </p>
          <p class="fm-buyer-account-panel__body govuk-!-top-margin-4">
            Quickly view suppliers who can provide services to your locations
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="/facilities-management/RM6232/buildings" class="govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state">
            Manage my buildings
          </a>
          <p class="fm-buyer-account-panel__body">
            Set up and manage your buildings for use in procurements
          </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="/facilities-management/RM6232/buyer-details/1/edit" class="govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state">
            Manage my details
          </a>
          <p class="fm-buyer-account-panel__body">
            Update and edit your contact details
          </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a href="https://www.crowncommercial.gov.uk/agreements/rm6232" class="govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state" target="_blank">
          View further information about the Facilities Management framework RM6232
        </a>
        <p class="fm-buyer-account-panel__body">
          (opens in a new tab)
        </p>
      </div>
    </div>
    <div class="govuk-!-margin-top-6 ">
      <strong class="govuk-heading-s">
        To return to this page at any time, just click on 'My account'.
      </strong>
    </div>
  </div>
{% endblock %}