{% extends "application.html" %}

{% block pageTitle %}
  Building details summary: {{ super() }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Return to buildings",
    href: "/facilities-management/RM6232/buildings"
  }) }}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
      Buildings
    </span>
    {{ building.data.name }}
  </h1>

  <div class="govuk-body govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-!-font-weight-bold">Status:</span>
      {{govukTag({
        text: building.data.status,
        classes: "" if building.data.status === 'completed' else "govuk-tag--red"
      })}}
      {% if building.data.status === 'completed' %}
        {{ govukInsetText({
          text: "This building is ready to use in procurements."
        }) }}
      {% else %}
        {{ govukInsetText({
          text: "You need to answer all questions before this building can be ready to use in procurements."
        }) }}
      {% endif %}
    </div>
  </div>

  {{ govukTable({
    caption: "Building details summary",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Name"
        },
        {
          text: building.data.name
        },
        {
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-details">Change</a>'
        }
      ],
      [
        {
          text: "Description (optional)"
        },
        {
          text: building.data.description if building.data.description,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-details">Answer question</a>' if not building.data.description
        },
        {
          text: '' if not building.data.description,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-details">Change</a>' if building.data.description
        }
      ],
      [
        {
          text: "Address"
        },
        {
          text: building.data.address.fullAddress()
        },
        {
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-details">Change</a>'
        }
      ],
      [
        {
          text: 'Region'
        },
        {
          text: building.data.region.data.name if building.data.region !== undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-details">Answer question</a>' if building.data.region === undefined
        },
        {
          text: ''
        }
      ],
      [
        {
          text: "Gross internal area"
        },
        {
          text: building.data.gia + ' sqm' if building.data.gia !== undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/area">Answer question</a>' if building.data.gia === undefined
        },
        {
          text: '' if building.data.gia === undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/area">Change</a>' if building.data.gia !== undefined
        }
      ],
      [
        {
          text: "External area"
        },
        {
          text: building.data.externalArea + ' sqm' if building.data.externalArea !== undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/area">Answer question</a>' if building.data.externalArea === undefined
        },
        {
          text: '' if building.data.externalArea === undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/area">Change</a>' if building.data.externalArea !== undefined
        }
      ],
      [
        {
          text: "Building type"
        },
        {
          text: building.data.buildingType.data.name if building.data.buildingType !== undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-type">Answer question</a>' if building.data.buildingType === undefined
        },
        {
          text: '' if building.data.buildingType === undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/building-type">Change</a>' if building.data.buildingType !== undefined
        }
      ],
      [
        {
          text: "Security clearance"
        },
        {
          text: building.data.securityClearance.data.name if building.data.securityClearance !== undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/security-clearance">Answer question</a>' if building.data.securityClearance === undefined
        },
        {
          text: '' if building.data.securityClearance === undefined,
          html: '<a role="link" class="govuk-link" href="/facilities-management/RM6232/buildings/' + building.data.id + '/edit/security-clearance">Change</a>' if building.data.securityClearance !== undefined
        }
      ]
    ]
  }) }}

  <a href="/facilities-management/RM6232/buildings" class="govuk-body govuk-link--no-visited-state">
    Return to buildings
  </a>
{% endblock %}
